 #==================================================================
 Options -Indexes
 RewriteEngine On
 RewriteCond %{REQUEST_URI} ^system.*
 RewriteRule ^(.*)$ /index.php/$1 [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^([a-z,0-9,A-Z,/_-]+)$ index.php/$1 [L]
 #==================================================================
 #deny .htaccess from directly access.
 <Files ".htaccess">
 order allow,deny
 deny from all
 </Files>
 #==================================================================
 <files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
 satisfy all
 </files>
 #==================================================================
 <IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE application/javascript text/css text/html text/xml application/json
 </IfModule>
 #==================================================================